In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from tqdm import tqdm

from urllib.request import Request, urlopen

# Dataset for Solar Farms - Harmonised global datasets

Paper Link : https://www.nature.com/articles/s41597-020-0469-8 <br>
Dataset link: https://figshare.com/articles/dataset/Harmonised_global_datasets_of_wind_and_solar_farm_locations_and_power/11310269/2

*"There are no restrictions on the use of these data. The data should be cited as follows: Dunnett, S. Harmonised global datasets of wind and solar farm locations and power. figshare. Dataset. https://doi.org/10.6084/m9.figshare.11310269.v1 (2020)"*

In [8]:
solar_farms_data_path = 'global_solar_2020.csv'
solar_farms_all = pd.read_csv(solar_farms_data_path)

solar_farms_US  = solar_farms_all[solar_farms_all['GID_0']=='USA'].reset_index(drop=True)
solar_farms_US.describe()

,X,Y,sol_id,panels,panel.area,landscape.area,water,urban,power
count,3.949000e+03,3.949000e+03,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,1127.000000
mean,-8.386997e+06,4.687226e+06,14292.681438,153.322867,0.128300,0.244227,0.000760,0.431755,16.367508
std,1.695486e+06,4.956819e+05,6779.123122,2331.445836,0.745280,1.294819,0.027555,0.495383,38.284127
min,-1.456521e+07,2.554883e+06,2.000000,1.000000,0.000003,0.000000,0.000000,0.000000,0.841058
25%,-1.000998e+07,4.408598e+06,10949.000000,3.000000,0.000141,0.000248,0.000000,0.000000,2.288516
50%,-8.680626e+06,4.637474e+06,11954.000000,6.000000,0.001866,0.009032,0.000000,0.000000,4.343822
75%,-6.748695e+06,5.078871e+06,20089.000000,16.000000,0.032051,0.069371,0.000000,1.000000,13.590260
max,-5.524927e+06,7.472106e+06,34238.000000,110246.000000,22.289277,39.411116,1.000000,1.000000,551.823434

# Filter required data

In [9]:
min_panel_area = 1
solar_farms_US = solar_farms_US[solar_farms_US['panel.area']>min_panel_area].reset_index(drop=True)
display(solar_farms_US)

,X,Y,sol_id,GID_0,panels,panel.area,landscape.area,water,urban,power
0,-1.000846e+07,4.511227e+06,10916,USA,6,1.227272,1.424324,0,0,47.967101
1,-9.096103e+06,4.748488e+06,11003,USA,606,1.245456,1.901137,0,0,48.565182
2,-1.016870e+07,4.163161e+06,11017,USA,8,1.506165,1.598014,0,0,56.999325
3,-1.016205e+07,4.163922e+06,11018,USA,9,1.962525,2.611277,0,0,71.237799
4,-1.016837e+07,4.164224e+06,11019,USA,4,1.132378,1.194879,0,0,44.822683
...,...,...,...,...,...,...,...,...,...,...
110,-7.348833e+06,3.878649e+06,20859,USA,3,1.292202,1.292202,0,0,50.096449
111,-7.414232e+06,4.154596e+06,20967,USA,5,3.927843,3.927843,0,0,127.818296
112,-8.773385e+06,3.756635e+06,34147,USA,641,1.442593,1.442593,0,0,54.965527
113,-8.887567e+06,3.750114e+06,34151,USA,3,3.292225,3.292225,0,0,110.154428
114,-7.235798e+06,3.485516e+06,34201,USA,3,1.534551,1.534551,0,0,57.903055

## The (X,Y) above are in "Eckert IV equal-area projection (EPSG:54012)" format.
I couldn't find a direct function to convert these into the normal latitude, longitude format that we use. So I used an API from a website that converts it (https://epsg.io/transform#s_srs=3857&t_srs=4326&x=NaN&y=NaN). You can put this coordinates in google maps to get the image of the solar site.

A direct funtion might be possible somehow from https://pyproj4.github.io/pyproj/stable/ but I am not sure how to do it.

In [10]:
# NOTE : Order of (X,Y) is flipped at the end because google maps needs it that way

def get_google_map_coordinates(X,Y):
    
    url = 'http://epsg.io/trans?x='+str(X)+'&y='+str(Y)+'&z=0&s_srs='+str(54012)+'&t_srs='+str(4326)+'&callback=jsonpFunction'
    
    req = Request(
    url=url,#'http://www.cmegroup.com/trading/products/#sortField=oi&sortAsc=false&venues=3&page=1&cleared=1&group=1', 
    headers={'User-Agent': 'Mozilla/5.0'}
    )
    webpage = urlopen(req).read()
    webpage_str = webpage.decode()
    x = float(webpage_str.split('"x": "')[1].split('", "y":')[0])
    y = float(webpage_str.split('"y": "')[1].split('", "z":')[0])
    return y,x


def new_data_with_google_coordinates(old_data):
    new_data = old_data.copy().reset_index(drop=True)
    
    X_old = np.array(new_data['X'])
    Y_old = np.array(new_data['Y'])
    
    for i in tqdm(range(new_data.shape[0])):
        
        x_new,y_new = get_google_map_coordinates(X_old[i],Y_old[i])
        new_data.loc[i,'X'] = x_new
        new_data.loc[i,'Y'] = y_new
    
    return new_data

# Get google map coordinates for a single example

In [11]:
ind = 10

X_old = np.array(solar_farms_US['X'])[ind]
Y_old = np.array(solar_farms_US['Y'])[ind]

X_new,Y_new = get_google_map_coordinates(X_old, Y_old)
print(X_new,Y_new)

34.82641469953629 -118.40779822579395

# Update a whole dataset with google map coordinates

In [12]:
old_data = solar_farms_US
new_data = new_data_with_google_coordinates(old_data)

100%|█████████████████████████████████████████████████████████████| 115/115 [04:11<00:00,  2.19s/it]

In [13]:
new_data.to_csv("US_solar_sites_2020_min_panel_area_1_.csv")

In [33]:
for ind in range(new_data.shape[0]):
    print(new_data['X'][ind],new_data['Y'][ind])

35.62432928459123 -115.34799718448903
37.68505175417948 -105.88489981979211
32.6594166668723 -115.65519910784167
32.66583084634074 -115.58272498766743
32.66837580205608 -115.6558284498562
32.69066266776989 -115.59543070167149
34.8522257765087 -118.35737254605496
34.68898678850267 -118.31019482539438
34.71896014145873 -118.28618932351482
34.826156265125434 -118.4227959572703
34.82641469953629 -118.40779822579395
34.6601951301126 -118.29665830090046
44.47255793699714 -95.66239297450271
45.488378503118895 -92.89203344987659
35.3225721169273 -118.81488118433742
35.81538940418605 -119.45545503921748
35.874864865594816 -119.45701561226313
34.829343222248596 -79.95024329873699
26.86440782213034 -81.74005516581298
35.36704239451963 -120.02986385098873
35.34859169583896 -120.05816870805636
36.581593251724755 -120.41597108729059
36.581424678809164 -120.397985404619
36.568359852710614 -120.39951963407485
36.39373882931366 -120.23973128629207
35.37161604877933 -120.05941329732576
35.03228200245083 -117.34783399641576
35.78261298957348 -114.99353287494637
35.80161719243071 -114.97652316252282
34.783544497544874 -118.41956062225115
32.92035430579287 -112.97948401401631
34.93143067179034 -118.33296384147732
33.35570110654677 -112.83348370941248
36.23738148050683 -114.87482953844159
33.81851675043016 -115.38914061367699
32.67554611843929 -115.59635578850299
32.67545354607553 -115.6474775824496
32.65848557290958 -115.66898507403432
32.68564882201089 -115.64910475783812
35.5850029740635 -115.43432603298373
31.014344205884104 -102.26326753542345
30.99163520321594 -102.2720360965997
31.003940249481335 -102.28207410358029
30.976410757592372 -103.28718249754392
30.958570092871334 -103.30624489417688
30.958860315427067 -103.35330782063048
34.903868138985736 -118.24711953928339
34.82514823100302 -118.52799071668248
34.76847062437774 -118.42264320531217
34.84425985748996 -118.45263121107455
34.82230720048117 -118.44067190439466
34.82970173394004 -118.44112215204646
30.45728501345226 -103.48225463558427
32.94968040776066 -112.77063405498289
33.05387108555007 -111.34094154780121
33.02619848329414 -113.35321698381618
38.192757538409595 -104.59913046300984
38.206631044490074 -104.56329045258136
35.60930225257216 -115.35739211776158
35.60618971593424 -115.34155295731661
35.630937069814664 -115.33530008224415
31.074963321672588 -102.83862967316226
31.262883352551206 -102.27999198779744
31.252433119267515 -102.26611756459401
35.804193418705204 -114.96755957507624
35.78579792375195 -114.96159645884242
35.78655273173335 -114.97827539697695
35.8363020119055 -114.98159971031565
35.89027133582844 -114.95838172513628
36.40918192421087 -114.91193530618337
36.400073939125676 -114.90186277537232
36.52757153072964 -114.75795092746236
34.83745072007064 -118.39166917022216
34.825445668965656 -118.47113562566291
34.836494038661385 -118.48476607344084
34.79428459343737 -118.51028449268445
32.76498963090368 -115.78042954715836
32.77720181313964 -115.78820370721678
34.78785862012959 -118.43809014078666
32.668216395827976 -115.6296073739644
32.74495401046289 -115.72486601195439
38.524811200840865 -113.03467762667321
38.4993433225264 -113.02782391133358
39.15001756299054 -112.34997963073998
39.16117321545217 -112.35631744176816
36.32673669168525 -107.3080424829642
35.0149220192129 -117.55905069577494
35.56830834013588 -115.47648083590386
33.303448718641974 -112.83115983790303
33.339153996114916 -112.93148900078205
33.66615254135188 -114.99754252569073
35.01011886259349 -117.31891925940938
36.467893581998844 -104.63635395485207
35.32367610581904 -119.90950764813509
34.81571988326482 -118.37016824892618
34.812349488412195 -118.38931087368546
30.239167594047537 -97.50822343752701
35.53612688446377 -115.45164553064923
32.55298600303069 -111.28337634955653
33.010407394222504 -99.60879724409698
32.7228204674886 -101.925729856165
32.974331148379825 -113.49365916694119
35.302242802979166 -118.84951341626338
35.01940359217774 -118.17616292922764
34.739740976149115 -118.30320297044116
34.72516500913717 -118.30623163823654
32.56199797049002 -84.28022382591887
32.57202338192586 -84.26192614357427
36.4788885191936 -76.15163448058797
34.83747208526799 -87.84303949592667
30.280822432196178 -82.77904230980033
32.587254485054004 -84.301132722729
29.271777853268393 -98.44545798684369
29.21802978447235 -99.70662287004961
27.051049473724834 -80.54752181629726